<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cs2i.us_football">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".JoueurActivity"
                  android:label="Joueurs"/>

        <activity android:name=".EquipeActivity"
                  android:label="Equipe" />

        <activity android:name=".StrategieActivity" />

        <activity android:name=".AttaqueActivity" />

        <activity android:name=".DefenseActivity" />

        <activity android:name=".SpecialActivity" />

        <activity android:name=".NewStrategieAttaqueActivity" />

        <activity android:name=".NewStrategieDefenseActivity" />

        <activity android:name=".NewStrategieSpecialActivity" />

        <activity android:name=".EquipeListActivity" />
    </application>
</manifest>